<h1>Display your Pirate here</h1>
  <h3>Name: <%=@pirate.name%></h3>
  <p>Weight: <%=@pirate.weight%></p>
  <p>Height: <%=@pirate.height%></p>
  
<h2>Display your first ship here</h2>
  <h3>Name: <%=@ships.all[0].name%></h3>
  <p>Name: <%=@ships.all[0].type%></p>
  <p>Name: <%=@ships.all[0].booty%></p>
<h2>Display your second ship here</h2>
  <h3>Name: <%=@ships.all[1].name%></h3>
  <p>Name: <%=@ships.all[1].type%></p>
  <p>Name: <%=@ships.all[1].booty%></p>